body {
	background-color: #efefdc; /* Old browsers */
	background-color: -moz-linear-gradient(top,  #efefdc 39%, #98bede 77%); /* FF3.6+ */
	background-color: -webkit-gradient(linear, left top, left bottom, color-stop(39%,#efefdc), color-stop(77%,#98bede)); /* Chrome,Safari4+ */
	background-color: -webkit-linear-gradient(top,  #efefdc 39%,#98bede 77%); /* Chrome10+,Safari5.1+ */
	background-color: -o-linear-gradient(top,  #efefdc 39%,#98bede 77%); /* Opera 11.10+ */
	background-color: -ms-linear-gradient(top,  #efefdc 39%,#98bede 77%); /* IE10+ */
	background-color: linear-gradient(to bottom,  #efefdc 39%,#98bede 77%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefdc', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */
	
	padding-top: 4em;
	/*word-spacing: 0.15em;*/

}

.ui.inverted.menu{
	height: 45px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
	
}

.nav_bar{
	height: inherit;
	/*margin-left: 50px;*/
	padding-left: 3cm;  
	position: fixed;
}

#main_block, #side_content{
	padding-left: 3cm;
	/*padding-right: 25cm;*/
	/*height: inherit;*/
	width: 10cm;
}

#side_content > img{
	/*max-height: 7cm;*/
	max-width:65%;
	/*max-width: 6cm;*/
}

.title > p{
	padding: 0em;
	font-size: 1.28em;
}

p >strong{
	border-bottom: 1px dotted;
}
strong{
	padding-top: 5em;
	font-size: 1.7em;
	border-bottom: 1px dotted;
}
p{
	word-spacing: 0.15em;
}
.title, .degree{
	font-weight: bold;
}
.description{
	padding-top: 0.3em;
	font-style: italic;
}
.time_period{
	color: #900;
}
.nav_bar > a{
	cursor: pointer;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  line-height: 1.33em;
  /*margin: -webkit-calc(2rem -  0.165em ) 0em 1rem;
  margin: calc(2rem -  0.165em ) 0em 1rem;*/
  font-weight: bold;
  padding: 0em;
}
a{
	width: initial;
}

#skills{
	height: inherit;
}

/*.ui.modal,*/ .ui.modal >.content {
	background-color: #deefff; /* Old browsers */
	background-color: -moz-linear-gradient(top,  #deefff 39%, #98bede 77%); /* FF3.6+ */
	background-color: -webkit-gradient(linear, left top, left bottom, color-stop(39%,#deefff), color-stop(77%,#98bede)); /* Chrome,Safari4+ */
	background-color: -webkit-linear-gradient(top,  #deefff 39%,#98bede 77%); /* Chrome10+,Safari5.1+ */
	background-color: -o-linear-gradient(top,  #deefff 39%,#98bede 77%); /* Opera 11.10+ */
	background-color: -ms-linear-gradient(top,  #deefff 39%,#98bede 77%); /* IE10+ */
	background-color: linear-gradient(to bottom,  #deefff 39%,#98bede 77%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */
	/*width: 50%;*/

}

.ui.modal{
	/*width: 50%;*/
}

/*.ui.modal > p{
	font: 
}*/

.item, .ui.list > .item, .ui.list > .item > a, #about > p, .ui.modal > .content{
	font-size: 1.2em;
}
.ui.grid > [class*="four wide"].column, .ui.grid > [class*="seven wide"].column{
	padding-top: 3em;
}
.ui.list{
	width:100%;
}

.ui.grid > [class*="seven wide"].column > .ui.list >.item{
	padding-bottom: 1.0em;

}

#footer {
	width:100%;
	height:50px;
	position:absolute;
	bottom:0;
	left:0;
	background:#deefff;
}