<!doctype html>
<html>
	<head>
		<title>Eval Form</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="vendor/semantic/ui/dist/semantic.css" />
		<link rel="stylesheet" type="text/css" href="CSS/custom.css" />
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="vendor/semantic/ui/dist/semantic.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {

			/*$('.ui.form').each(function(){
				var validations = {};
				var form = $(this);
				form.find(':input[data-validate]').each(function() {
					var input = $(this);
					validations[input.prop('name')] = {
						identifier: input.prop('name'),
						rules: [{
							type: input.data('validate'),
							prompt: input.data('prompt')
						}]
					};
				});
				form.form(validations, { inline: false });
			});*/

$('.ui.form')
	.form({
		EvaluateeFN:{
			identifier: 'PBEfirst-name',
			rules: [
			{
				type: 'empty',
				prompt: 'Please Enter the Evaluatee\'s First Name'
			}]
		},
		EvaluateeLN:{
			identifier: 'PBElast-name',
			rules: [
			{
				type: 'empty',
				prompt: 'Please Enter the Evaluatee\'s Last Name'
			}]
		},
		EvaluatorFN:{
			identifier: 'EvaluatorFirstName',
			rules: [
			{
				type: 'empty',
				prompt: 'Please Enter the Evaluator\'s First Name'
			}]
		},
		EvaluatorLN:{
			identifier: 'EvaluatorLastName',
			rules: [
			{
				type: 'empty',
				prompt: 'Please Enter the Evaluator\'s Last Name'
			}]
		},
		Topic:{
			identifier: 'topic',
			rules: [
			{
				type: 'checked',
				prompt: 'Is the topic of this paper closely related to this course?'
			}]
		},
		Author:{
			identifier: 'author',
			rules: [
			{
				type: 'checked',
				prompt: 'Did the author have adequate references and were they approximately cited in the paper?'
			}]
		},
		Length:{
			identifier: 'length',
			rules: [
			{
				type: 'checked',
				prompt: 'Was the paper an appropriate length to support the points the author intended?'
			}]
		},
		Spelling:{
			identifier: 'spelling',
			rules: [
			{
				type: 'checked',
				prompt: 'Was the paper free of spelling and grammatical errors?'
			}]
		},
		Spelling:{
			identifier: 'spelling',
			rules: [
			{
				type: 'checked',
				prompt: 'Was the paper free of spelling and grammatical errors?'
			}]
		},
		Rating:{
			identifier: 'rating',
			rules: [
			{
				type: 'checked',
				prompt: 'Please assign this paper an evaluation rating'
			}]
		},
		Comments:{
			identifier: 'comments',
			optional: true,
			rules: [
			{
				type: 'empty',
				prompt: 'Please assign this paper an evaluation rating'
			}]
		}
	});

		});
		</script>
	</head>

	<body>
		<header>
		</header>

		<div id="main-content" class="ui raised segment" style="margin-bottom: 5em;">

			{% include 'flash.html' %}

			{% block EvalForm %}

			{% endblock %}
		</div>

		<footer>
			<div class="ui segment" id="footer">
				<!--<p>This site is designed, maintained and is the the sole property of Joshua. S. Adadevoh</p>-->
			</div>
		</footer>
	</body>
</html>